//((===  Docs Layout  ===))//

$sidebar-width: 250px;
$header-height: 60px;

.docs{
    display: flex;
    min-height: 100vh;
    width: 100vw;
    &__sidebar{
        background: $primary;
        background: linear-gradient(to top, $primary 0%, darken($primary, 10%) 100%);
        width: $sidebar-width;
        display: flex;
        flex-direction: column;
        &--brand{
            height: $header-height;
            width: 100%;
            background: $primary;
            box-shadow: 0px 0px 12px 0px transparentize($primary, 0.5);
        }
        &--menu{
            @include p(3);  
            @include mt(3);
            $menu-item-color: $white !important; 
            .sub {
                padding-left: 0.75em;
                border-left: 1px solid $white;
                margin: 0 0.75em;        
            }
        }
        &--footer {
            margin-top: auto;
            @include p(3);  
            color: $white;
            a {
                color: $white;
                font-weight: bold;
            }
        }
    }
    &__main{
        background: $white;
        width: calc(100vw - #{$sidebar-width});
        &--header{
            z-index: 100;
            background: transparentize($white-bis, 0.03);
            height: $header-height;
            width: inherit;
            top: 0;
            position: fixed;
            .columns{
                @include px(3);
                height: $header-height;
                padding: 0;
                margin-top: 0;
            }
        }
        &--breadcrumbs{
            @include px(3);
            z-index: 99;
            background: transparentize($primary, 0.03);
            box-shadow: 0px 0px 6px 0px transparentize($primary, 0.6);
            height: $header-height / 1.5;
            top: $header-height;
            width: inherit;
            position: fixed;
        }
        &--body{
            @include p(4);
            margin-top: $header-height * 2;
        }
    }
}