$icon-font-path: "../assets/icons/";

@font-face {
    font-family: 'bolt';
    src:  url('#{$icon-font-path}bolt.eot?v2');
    src:  url('#{$icon-font-path}bolt.eot?v2#iefix') format('embedded-opentype'),
      url('#{$icon-font-path}bolt.ttf?v2') format('truetype'),
      url('#{$icon-font-path}bolt.woff?v2') format('woff'),
      url('#{$icon-font-path}bolt.svg?v2#bolt') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  i {
    font-family: 'bolt' !important;
    speak: none;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-search:before {
    content: "\e902";
  }
  .icon-copy:before {
    content: "\e900";
  }
  .icon-link:before {
    content: "\e901";
  }
  .icon-github:before {
    content: "\eab0";
  }
  
  