//((===  Typography  ===))//

.lead{
    font-size: $size-4;
    color: $grey-dark;  
    font-weight: $weight-light;  
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .anchor{
       i{
        font-size: $size-3;
       }
    }
}

.pagetitle {
    color: $white;
    display: flex;
    align-items: center;
    height: 100%;
}