//((===  Bootstrap Overides  ===))//


//=== Initial Variables

@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";

//=== Custom Colours

$base: #2C3E50;
$brand: #80A2BE;
$brand-invert: findColorInvert($brand);
$secondary: #FF784A;
$brand-dark: #49698A;
$cermaic: #F4F7F7;
$blue: $brand;
$speed: 120ms;

//=== Custom Fonts

$font-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$family-monospace: "Source Code Pro", monospace;


//=== Colour Overides

$primary:           $brand;
$primary-invert:    $brand-invert;
$white-ter:         $cermaic;
$black:             $base;
$dark:              $base;
$text:              $base;

$grey-darker:  $brand-dark;
$grey-dark:    lighten($grey-darker, 3%);
$grey:         lighten($grey-darker, 6%);
$grey-light:   lighten($grey-darker, 9%);
$grey-lighter: lighten($grey-darker, 12%);


//=== Set initial font Size


$body-size: 16.5px;

//=== Sidebar Menu Overides

$menu-item-color: $white;
$menu-label-color: $white-ter;
$menu-list-border-left: 1px solid $white-ter;
$menu-item-active-color: $base;
$menu-item-active-background-color: $white-ter;

//=== Breadcrumb Overides

$breadcrumb-item-separator-color: $white;
$breadcrumb-item-color: $white-ter;
$breadcrumb-item-active-color: $white;

//=== Form Overides

$input-border-color: darken($white-ter, 10%);
$input-hover-border-color: $primary;
$input-color: lighten($base, 20%);

//== Inline code blocks

$code: $secondary;
$code-background: $white-ter;

//=== Import Derived Variables

@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";