{#
 # Passed in variables:
 #   fields   — Field data from the form configuration
 #   config   — Email configuration data
 #   data     — POSTed data
 #   metadata — Form meta data
 #}
<p>Hi,</p>

<p>Somebody used the form on {{ paths.currenturl }} to send you a message.</p>

<p>The posted data is as follows:</p>
<hr>
{{ block('submission_summary', '@BoltForms/email/_blocks.twig') }}
<hr>
<em>Sent by the <a href="https://github.com/bolt/boltforms">BoltForms</a> extension for <a href="https://bolt.cm">Bolt</a>.</em>
